{% extends 'layout.html' %}

{% block main %}
  <div class="row">
    <div class="col">
      <a href="{% url 'books:add' %}" class="btn btn-outline-info float-right">新增書籍</a>
      <h2>書籍列表</h2>
      <hr>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          {% for book in books %}
            <tr>
              <td>{{ book.id }}</td>
              <td><a href="{% url 'books:show' book.id %}">{{ book.name }}</a></td>
              <td>{{ book.price }}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="3" class="text-center">沒有書籍～</td>
            </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>
  </div>
{% endblock %}
